<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<style>
    .container {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-align: center;
        font-size: 21px;
        background-color: blue;
        border-radius: 8px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>

<body>
    <div class="container">
        <a href="/auth/google/login">Google Auth</a>
    </div>
</body>

</html>